footer {
  background: var(--red-500);

  & > .container {
    max-width: 1536px;
    margin-inline: auto;
    padding-inline: 1rem;
    padding-block: 2rem;
    display: grid;
    gap: 3rem 1rem;
    color: var(--beige-500);

    @media (min-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: 1024px) {
      grid-template-columns: repeat(3, 1fr);
    }

    img {
      margin-inline: auto;

      @media (min-width: 768px) {
        margin-inline: 0;
      }
    }

    strong {
      font-family: IntegralCF;
      display: block;
      font-size: 1.25rem;
      text-align: center;

      @media (min-width: 768px) {
        text-align: left;
      }
    }

    ul {
      list-style: none;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      margin-top: 2rem;

      li {
        text-align: center;

        @media (min-width: 768px) {
          text-align: left;
        }

        a {
          font-family: Gooper;
          font-weight: bold;
          font-size: 1.125rem;

          &:hover {
            text-decoration: underline;
            text-underline-offset: 4px;
          }
        }
      }
    }

    .links {
      display: flex;
      gap: 1rem;
      margin-top: 2rem;
      justify-content: center;

      @media (min-width: 768px) {
        justify-content: flex-start;
      }

      a {
        display: grid;
        place-items: center;
        width: 48px;
        height: 48px;
        border-radius: 50%;
        background: var(--beige-500);
        transition: all 0.3s;

        &:hover {
          transform: translateY(-0.5rem);
        }

        svg {
          width: 32px;
          height: 32px;
        }
      }
    }

    @media (min-width: 1024px) {
      padding-inline: 2rem;
    }
  }

  .rights {
    background: var(--beige-500);
    color: var(--red-500);

    .container {
      max-width: 1536px;
      margin-inline: auto;
      padding-inline: 1rem;
      display: flex;
      gap: 1rem;
      justify-content: space-between;
      padding-block: 1rem;
      flex-direction: column;

      @media (min-width: 1024px) {
        padding-inline: 2rem;
        flex-direction: row;
      }

      p {
        font-weight: 500;
        text-align: center;

        a {
          font-weight: 700;
        }
      }
    }
  }
}

.whatsapp-button {
  position: fixed;
  z-index: 999;
  bottom: 1rem;
  right: 1rem;
  display: none;
  transition: filter 0.6s;

  &:hover {
    filter: brightness(0.8);
  }

  &[data-show='true'] {
    display: block;
    animation: showDown 0.6s forwards;
  }

  img {
    max-width: 64px;
    max-height: 64px;
  }
}

.mobile-menu {
  background: var(--red-500);
  position: fixed;
  inset: 0;
  z-index: 9999;
  display: none;

  &[data-open='true'] {
    display: block;
    animation: showDown 0.6s forwards;
  }

  @media (min-width: 1024px) {
    display: none;

    &.show {
      display: none;
    }
  }

  .header {
    height: 8rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    padding-inline: 1rem;

    @media (min-width: 1024px) {
      padding-inline: 2rem;
    }

    img {
      width: 125px;

      @media (min-width: 1024px) {
        width: 150px;
      }
    }

    [data-menu='close'] {
      background: transparent;
      border: 0;
      color: var(--beige-500);

      @media (min-width: 1024px) {
        display: none;
      }
    }
  }

  nav {
    height: calc(100% - 8rem);

    ul {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100%;
      list-style: none;
      gap: 1rem;

      li {
        a {
          font-family: Gooper;
          font-weight: 700;
          color: var(--beige-500);
          text-transform: uppercase;
          font-size: 2rem;
          position: relative;
          transition: all 0.6s;

          &::after {
            content: '';
            display: block;
            height: 2px;
            width: 100%;
            transform: scaleX(0);
            position: absolute;
            background: var(--beige-500);
            transition: all 0.6s;
            margin-top: 0.25rem;
          }

          &[data-current='true'] {
            &::after {
              transform: scaleX(1);
            }
          }

          &:hover {
            filter: brightness(0.8);
          }
        }
      }
    }
  }
}

@keyframes showDown {
  from {
    opacity: 0;
    transform: translateY(-2rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
