#contato {
  background: var(--beige-500);
  padding-bottom: 5rem;

  .banner {
    min-height: 320px;
    background: url(../../public/img/webp/shop-banner.webp);
    background-size: cover;
    background-position: center;
    width: 100%;

    display: grid;
    place-items: center;

    @media (min-width: 1024px) {
      height: 480px;
    }

    @media (min-width: 2048px) {
      min-height: 600px;
    }

    .title {
      background: var(--yellow-500);
      height: 60%;
      display: grid;
      place-items: center;
      clip-path: polygon(0 0, 100% 12%, 95% 95%, 0% 100%);
      padding-inline: 2rem 2.5rem;
      max-height: 384px;
      min-width: 300px;

      @media (min-width: 768px) {
        height: 80%;
      }

      @media (min-width: 1024px) {
        padding-inline: 5rem 5.5rem;
      }

      h2 {
        font-family: Gooper;
        color: var(--red-500);
        font-size: 3rem;
        text-transform: uppercase;

        @media (min-width: 1024px) {
          font-size: 4.5rem;
        }

        @media (min-width: 1536px) {
          font-size: 5rem;
        }
      }
    }
  }

  .container {
    max-width: 1536px;
    margin-inline: auto;
    padding-inline: 1rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
    padding-block: 5rem;

    strong {
      font-size: 3rem;
      font-family: IntegralCF;
      color: var(--orange-500);

      @media (min-width: 768px) {
        font-size: 4rem;
      }
    }

    a {
      font-size: 1.5rem;
      font-family: Gooper;
      font-weight: bold;
      color: var(--red-500);
      display: flex;
      gap: 0.5rem;
      align-items: center;

      @media (min-width: 768px) {
        font-size: 2rem;
      }

      svg {
        width: 32px;
        height: 32px;

        @media (min-width: 768px) {
          width: 64px;
          height: 64px;
        }
      }
    }

    @media (min-height: 1024px) {
      margin-inline: 2rem;
    }
  }
}
